mixin navbar(currentUser) 
  nav.navbar(role='navigation' aria-label='main navigation')
    .navbar-brand.is-justify-content-space-between
      img(src='/public/kri.png' style='width: 70px; height: 70px; padding: 5px;')
      .is-flex.is-align-items-center
        button.button.mx-2.mr-3.rainbow-box.is-hidden-desktop#userboxmobile Welcome, #{currentUser.username}
        a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='headerNavbar')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
    #headerNavbar.navbar-menu
      .navbar-start
        a.navbar-item
          Home
      .navbar-end
        .navbar-item
          .buttons
            if currentUser
              a.button.is-primary.js-modal-trigger(data-target='modal-js-new-post')
                strong New Post
              button.button.mx-2.mr-3.rainbow-box.is-hidden-touch#userboxdesktop Welcome, #{currentUser.username} 
              form(action="/users/logout" method="post") 
                button.button.is-danger(type="submit") Logout
            else
              include ./comps/googleButton
              a.button.is-primary.js-modal-trigger(data-target='modal-js-register')
                strong Sign up
              a.button.is-light.js-modal-trigger(data-target='modal-js-login') Login
