html
  head
    title= title
    script(src="/public/scripts/index.js") 
  body
    form(action="/users/login", method="post") 
      input(type="text", name="username", placeholder="username")
      input(type="text", name="password", placeholder="password")
      button(type="submit") login
    form(action="/users/register", method="post") 
      input(type="email", name="email", placeholder="email")
      input(type="text", name="username", placeholder="username")
      input(type="text", name="password", placeholder="password")
      button(type="submit") register
    form(action="/users/logout", method="post") 
      button(type="submit") logout
    form(action="/campgrounds", method="post") 
      input(type="text", name="title", placeholder="Title")
      input(type="number", name="price",placeholder="price")
      input(type="text", name="description",placeholder="desc")
      input(type="text", name="name",placeholder="location name")
      input(type="number", name="longitude",placeholder="")
      input(type="number", name="latitude",placeholder="")
      button(type="submit") submit
    each camp in campgrounds
      div
        a(href='/campgrounds/'+camp.id)
          h1=camp.title 
        p=camp.description
        form(action="/campgrounds/"+camp.id+"?_method=DELETE", method="POST")
          button(type="submit") Delete