html
  head
    title=title
    script(src="/public/scripts/index.js") 
  body
    div
      a(href=campground.id)
        h1=campground.title 
      p=campground.description
      form(action="/campgrounds/"+campground.id+"?_method=DELETE", method="POST")
        button(type="submit") Delete
    a(href='/campgrounds') All campgrounds