//- Moved to another file because it messes up syntax highlighting

script.
    const data ={ features: !{JSON.stringify(geoData).replace(/<\//g, "<\\/")}} 
script.
    const mapTilerApiKey = '#{mapTilerApiKey}';