.rainbow-box {
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image: linear-gradient(
        to bottom right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    border-image-slice: 1;
}
.modal-background {
    position: fixed;
}
.review.card {
    border: 2px solid black;
    margin-block: 2em;
}
#dark-mode-icon {
    position: fixed;
    top: 5rem;
    right: 3rem;
    background-color: white;
    border-radius: 50%;
    z-index: 31;
    border: 1px solid black;
    animation: breathe 1s infinite alternate-reverse;
}
#dark-mode-icon:hover {
    opacity: 0.5;
}
@keyframes breathe {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0.8;
        scale: 1.1;
    }
}

.subtitle {
    line-height: 2.5;
}

a:hover {
    opacity: 0.8;
}

@media (max-width: 432px) {
    #userboxdesktop {
        display: flex !important;
    }
    #userboxmobile {
        display: none;
    }
}

.flash-messages {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 32;
    animation: die 2s ease-in 1s forwards;
}

@keyframes die {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loading {
    display: none;
    justify-content: center;
    align-items: center;
}

.loading__full-height {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: hsl(0deg 11% 4% / 70%);
    z-index: 50;
}
.loading::after {
    content: '';
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #27c9ac;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s ease infinite;
}

@keyframes loading {
    /* Safari support */
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
